.text-gray {
  color: #919aa3 !important;
}

.text-white {
  color: white;
}

.text-green {
  color: #0ac282;
}

/////////////////////

.text-small {
  font-size: small !important;
}

.text-bold {
  font-weight: bold !important;
}

//////////////////////////

.pad-l-0p {
  padding-left: 0px !important;
}

.pad-r-0p {
  padding-right: 0px !important;
}

.pad-l-15p {
  padding-left: 15px !important;
}

.pad-r-15p {
  padding-right: 15px !important;
}

.pad-r-10p {
  padding-right: 10px !important;
}

.pad-l-10p {
  padding-left: 10px !important;
}

.pad-l-25p {
  padding-left: 25px !important;
}

.pad-t-15p {
  padding-top: 15px !important;
}

.pad-b-15p {
  padding-bottom: 15px !important;
}

.pad-t-10p {
  padding-top: 10px !important;
}

.pad-b-10p {
  padding-bottom: 10px !important;
}

.pad-0p {
  padding: 0px !important;
}

.pad-10p {
  padding: 0px !important;
}

.pad-20p {
  padding: 20px !important;
}

.pad-5p {
  padding: 5px;
}

.mar-0p {
  margin: 0px !important;
}

/////////////////////////////

.dropdown-item {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.text-center {
  text-align: center;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.box-main-body {
  background-color: #f3f3f3;
  height: 100%;
}

.shadow-box-div {
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.f-w-600 {
  font-weight: 600;
}

.bor-radius-5p {
  border-radius: 5px;
}

.bor-radius-0p-0p-0p-5p {
  border-radius: 0px 0px 5px 5px;
}

//////////Event

.hover-gray-back:hover {
  background-color: rgba(0,0,0,.075);
  cursor: pointer;
}
